<h2 class="logo">PIXEL PRISM</h2>
<h2 class="short-logo">PP</h2>
<div class="menu-box">
    <div class="menu-item" onclick="updateDefaultComponent('chatVault')">
        <span class="material-icons sidebar-icon">chat</span>
        <span class="text">Chat Vault</span>
    </div>
    <div class="menu-item" onclick="updateDefaultComponent('eightPointGrid')">
        <span class="material-icons sidebar-icon">space_dashboard</span>
        <span class="text">Grid Genesis</span>
    </div>
    <div class="menu-item" onclick="updateDefaultComponent('modernCss')">
        <span class="material-icons sidebar-icon">grid_view</span>
        <span class="text">Layout Lab</span>
    </div>
    <div class="menu-item has-submenu" onclick="toggleSubmenu(this)">
        <span class="material-icons sidebar-icon">style</span>
        <span class="text">Design Drip</span>
    </div>
    <div class="submenu">
        <div class="menu-item" onclick="updateDefaultComponent('sassSetup')">Setup</div>
        <div class="menu-item" onclick="updateDefaultComponent('sassfeatures')">Features</div>
    </div>
    <div class="person">
        <div class="head">
            <div class="eye left" id="leftEye"></div>
            <div class="eye right" id="rightEye"></div>
            <div class="mouth"></div>
        </div>
        <div class="body"></div>
        <div class="hand left" id="leftHand"></div>
        <div class="hand right" id="rightHand"></div>
    </div>
</div>