<div class="fab" onclick="toggleSetting()">
    <span class="material-icons">settings</span>
</div>
<div class="options-menu" id="optionsMenu">
    <div class="option-btn" onclick="toggleDarkMode()">
        <span class="material-icons">brightness_6</span>
    </div>
    <div class="option-btn" onclick="changeHeaderFooterColor()">
        <span class="material-icons">color_lens</span>
    </div>
    <div class="option-btn" onclick="defaultTheme()">
        <span class="material-icons">refresh</span>
    </div>
</div>