<h2 class="logo">PIXEL PRISM</h2>
<h2 class="short-logo">PP</h2>
<div class="menu-box">
    <div class="menu-item has-submenu" onclick="toggleSubmenu(this)">
        <span class="material-icons sidebar-icon">dashboard</span>
        <span class="text">Grid Genesis</span>
    </div>
    <div class="submenu">
        <div class="menu-item">All Users</div>
        <div class="menu-item">Add User</div>
        <div class="menu-item">User Roles</div>
    </div>
    <div class="menu-item">
        <span class="material-icons sidebar-icon">group</span>
        <span class="text">Layout Lab</span>
    </div>
    <div class="menu-item">
        <span class="material-icons sidebar-icon">settings</span>
        <span class="text">Style Spectrum</span>
    </div>
    <div class="menu-item">
        <span class="material-icons sidebar-icon">settings</span>
        <span class="text">Cascade Canvas</span>
    </div>
</div>